:host:not(:last-child) {
    margin-right: 5px;
}

.square{
    width: 50px;
    height: 50px;
    display: flex;
}

.validMove {
    border: 1px red solid;
}

.king .red {
    background: gold;
}
.king .black{
    background: gold;
}

.row:nth-child(even) :host:nth-child(even) .square{
    background: lightblue;
}

.row:nth-child(even) :host:nth-child(odd) .square{
    background:lightskyblue;
}
.row:nth-child(odd) :host:nth-child(even) .square{
    background: lightskyblue;
}

.row:nth-child(odd) :host:nth-child(odd) .square{
    background:lightblue;
}
.square-value{
    margin: auto;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.red{
   background:red;
   border-radius: 50%;
   box-shadow: 0 0 0 4px lightgrey;
}
.black{
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 4px lightgrey;
 }

.piece-style{
    width:25px;
    height: 25px;
}