
.row {
    display: flex;
    margin-bottom: 5px;
}
.label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}
.score-board {
    width: 100%;
    height: 50px;
    background: #e8e5e5;
}
.score {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: black;
    margin: 3px;
    border-radius: 50px;
}
.red {
    background: black;
   
}
.black {
    background: red;
    
}
.score-style {
    display: inline-block;
}
 .row-style{
     display:flex;
 }

